In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("dark")

In [34]:
# generate random numbers for each 0.5 step timepoint
df = pd.DataFrame(columns=["x","y"])
for i in range(100):
    df["x"] = np.random.rand() * 10
    y = np.random.rand(1,10)

Empty DataFrame
Columns: [x, y]
Index: []

In [27]:
df

          x         y
0  8.047953  0.944335
1  8.047953  0.176320
2  8.047953  0.464781
3  8.047953  0.391813
4  8.047953  0.212784
5  8.047953  0.027484
6  8.047953  0.766928
7  8.047953  0.666912
8  8.047953  0.950611
9  8.047953  0.526319